hr {
    border: 0;
    height: 3px;
    background: #ccc;
    max-width: 94%;
}

.custom-jumbotron {
    height: 10px;
    background-color: blue;
    background-image: linear-gradient(to right, rgb(90, 146, 209) , rgb(47, 0, 255))
}

.custom-card {
    border:none;
}

.custom-card-body {
    padding-left:0px;
}

.custom-table-info {
    background-color: rgb(48, 48, 95);
    color: white;
}